:root {
    --brand: #91ad41;
    --line: #bebebe;
    --search: #ff8a6c;
    /* color commit */
    --commit-1: #59CCA6;
    --commit-2: #91AD41;
    --commit-3: #E3B375;
    --commit-4: #EF7F94;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 80px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu>li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    padding: 20px 0;
}
.nav-menu li a {
    text-decoration: none;
    color: black;
}
.nav-menu li a:hover{
   color: var(--brand);
}
.nav-menu li .item{
    position: relative;
}
.nav-menu li .item:before {
    content: "\f0d7";
    font: var(--fa-font-solid);
    position: absolute;
    right: -15px;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.action span:hover {
    cursor: pointer;
}
.sub-menu{
    display: none;
    position: absolute;
    width: 200px;
    padding: 0 10px;
    border: 1px solid black;
    box-shadow: 0px 3px 7px;
    margin-top: 10px;
}
.sub-menu li{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid var(--line);
}
.sub-menu li:last-child{
    border: none;
}
/* hover menu */
.hook{
    position: relative;
}
.hook:hover .sub-menu{
    display: block;
}
/* css search */
.search{
    position: relative;
}

.search:hover .search-box{
    display: block;
}
.search-box{
    display: none;
    position: absolute;
    right: -10px;
    padding-top: 10px;
}
.search-form{
     position: relative;
}
.search-form input{
    padding: 10px 15px;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(35deg, var(--brand) 0%, var(--search) 100%);
    border: none;
    color: white;
    outline: 0;
   
}
.search-form input::placeholder{
    color: white;
}
.search-form button{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search-form button i{
    font-size: 16px;
    color: white;
}
/* user */
.user{
    position: relative;
}
.user:hover .login-box{
    display: block;
}
.login-box{
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    padding-top: 10px;
}
.login-box form{
    padding: 10px;
    border: 1px solid var(--line);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-box button{
    padding:  8px 40px;
    border-radius: 24px;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
}
.btn-login{
    color: white;
    background-image: -webkit-linear-gradient(35deg, var(--brand) 0%, var(--search) 100%);
    border: 1px solid white;
}
.btn-login:hover{
    background-image: unset;
    background-color: var(--brand);
}

.btn-register{
    border: 1px solid var(--line);
}
.btn-register:hover{
    background-color: var(--brand);
    color: white;
}
/* cart */
.cart{
    position: relative;
}
.cart:hover .cart-box{
    display: block;
}
.quantity{
    position: absolute;
    top: -25px;
    right: -15px;
}
.quantity span{
    display: block;
    background-image: -webkit-linear-gradient(35deg, var(--brand) 0%, var(--search) 100%);
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 50%;
    font-size: 14px;
}
.cart-box{
    position: absolute;
    padding: 10px;
    border: 1px solid var(--line);
    border-radius: 8px;
    box-shadow: 0 3px 7px var(--brand);
    width: 200px;
    right: 0;
    margin-top: 10px;
    display: none;
}

/* header commit */
.bg-color-1{
    background-color: var(--commit-1);
}
.bg-color-2{
    background-color: var(--commit-2);
}
.bg-color-3{
    background-color: var(--commit-3);
}
.bg-color-4{
    background-color: var(--commit-4);
}
.bg-img-1{
    background-image: url('./images/col_1.png');
}
.bg-img-2{
    background-image: url('./images/col_2.png');
}
.bg-img-3{
    background-image: url('./images/col_3.png');
}
.bg-img-4{
    background-image: url('./images/col_4.png');
}

.content-bg{
    position: inherit;
    padding: 20px 50px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.commit-block{
    display: flex;
    flex-direction: row;
}
.commit-block a{
    text-decoration: none;
    color: white;
}
.commit-content{
    color: white;
    position: relative;
}
.commit-content:hover::before {
   opacity: 0.5;
}
.commit-content::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
.commit-content .commit-title{
    margin-bottom: 20px;
    font-size: 24px;
}
.commit-content .commit-description{
    margin-bottom: 20px;
}
.commit-content .commit-title a:hover{
    color: var(--brand);
} 
.commit-btn{
    display: inline-block;
    padding: 12px 20px;
    background-color: black;
    border-radius: 8px;
}
.commit-btn:hover{
    background-color: var(--brand);
}
/* end header commit */
